// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


// Colors

$primary   : #195345
$secondary : #379B67

$tertiary  : #1E7F30
$accent    : #ABFD88

$dark      : #1D1D1D

$positive  : #66bb6a
$negative  : #ba3939
$info      : #31CCEC
$warning   : #F2C037

$white : #FFFFFF

$placeholder: #84848d

// Fonts And Weights

$body-font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
$body-font-weight: 400
